In [1]:
import pandas as pd
from tqdm import trange

In [2]:
df=pd.read_csv("panel_data_1021/after_merge_1021.csv")
# df 是你的面板数据
# 1. 筛选
sub = df[df['pro_code'] == 31] 

# 2. 按 hs_residence 计数
count = sub['hs_residence'].value_counts()

# 如果想直接得到 DataFrame，可再 reset_index
count_df = count.reset_index(name='count')

C:\Users\yunzh\AppData\Local\Temp\ipykernel_17716\3821838064.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("panel_data_1021/after_merge_1021.csv")

In [3]:
count_df["code"]=None
for i in range(len(count_df)):
    count_df.loc[i,"code"]=str(int(count_df.loc[i,"hs_residence"]))+"0000"
count_df

    hs_residence  count    code
0           34.0  14904  340000
1           32.0   8420  320000
2           41.0   4052  410000
3           51.0   3269  510000
4           33.0   2812  330000
5           36.0   2716  360000
6           37.0   2246  370000
7           42.0   2130  420000
8           35.0   1787  350000
9           43.0   1210  430000
10          50.0   1050  500000
11          52.0    693  520000
12          61.0    650  610000
13          23.0    585  230000
14          62.0    490  620000
15          13.0    400  130000
16          44.0    400  440000
17          22.0    357  220000
18          21.0    343  210000
19          53.0    331  530000
20          14.0    293  140000
21          45.0    239  450000
22          15.0    136  150000
23          65.0    123  650000
24          11.0     97  110000
25          12.0     69  120000
26          63.0     58  630000
27          64.0     46  640000
28          46.0     44  460000
29          54.0      5  540000
30          99.0      4  990000
31          66.0      3  660000
32          71.0      2  710000
33          81.0      2  810000

In [4]:
count_df.to_excel("DataScience/migrate_to_Shanghai.xlsx",index=None)